<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Cloud - Push
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <h2>Send a push!</h2>
  <ion-list>
    <ion-item>
      <ion-label>Your Device Token: <br />{{token}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Message</ion-label>
      <ion-textarea rows="3" [(ngModel)]="message"></ion-textarea>
    </ion-item>
    <ion-item >
      <ion-label>Select Devices</ion-label>
      <ion-select [(ngModel)]="devices" multiple="true" *ngIf="container">
          <ion-option *ngFor="let c of container" value="{{c.token}}" >
            {{c.token}}
          </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Send to All</ion-label>
      <ion-toggle [(ngModel)]="toggleDevices" (click)="onClickSelectAll(toggleDevices)" checked="false"></ion-toggle>
    </ion-item>
    <button ion-button full (click)="onClickRegisterDevice()" *ngIf="!token">Register for Push</button>    
    <button ion-button full (click)="onClickRegisterDevice()" *ngIf="token">Unregister Device</button>    
    <!--<button ion-button full (click)="getSelectedDevices(devices)">Check Selected Devices</button>-->
    <button ion-button full secondary (click)="onClickSend(devices)">Send</button>
  </ion-list>

  
</ion-content>
